<% extend('layout/layout-dashboard') %>
<%- include('partials/dashboard_nav') %>
<div class="main container-fluid my-4">
	<div class="row justify-content-center">
		<div class="col-sm-6">
			<h1><%= title %></h1>
			<a href="/forum" class="btn btn-primary">看文章</a> | 
			<a href="/dashboard/archives" class="btn btn-primary">管理文章</a>
		</div>
	</div>
</div>