<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>徐琮偉 Eason 部落格</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- 圖片來源：http://www.gratisography.com/#objects -->
	<style>
		.breadcrumb {
			background-color: transparent;
		}

		/* typography design */
		.text-primary {
			color: #00cc99 !important;
		}

		.post {
			line-height: 1.8;
		}

		img{
			width: 100%;
		}
	</style>
	<!-- javascript -->
	<%- include('../partials/script') %>
</head>


<%- content %>

<footer class="bg-light text-muted py-5">
	<div class="container">
		<ul class="list-unstyled d-flex justify-content-between">
			<li class="">© Copright 2019 徐琮偉 Eason 部落格　|　</li><li><a href='/auth/login'>文章管理</a></li>
			<li class="ml-auto"><a class="text-info mr-1" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a class="text-info mr-1" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a href=""
					class="text-info"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</footer>

</html>