<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>徐琮偉 Eason 文章管理後台</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		html {
			font-size: 14px;
		}

		.main {
			min-height: calc(100vh - (49px + 49px + 42px + 18px))
		}

		img{
			width: 100%;
		}
	</style>
	<!-- JavaScript -->
	<%- include('../partials/script') %>
	<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
</head>

<body>
	
	<%- content %>

	<footer class="mt-5 py-3 bg-light text-secondary text-center">
		徐琮偉 Eason 文章管理後台　|　<a href='/forum'>返回部落格</a>
	</footer>
</body>

</html>